{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gestion des Maisons</h1>
    {% for maison in maisons %}
        {{ maison.nom }} <br>
    {% endfor %}
    <p><a href="{{ path("ajouterMaison") }}" class="btn btn-primary">Ajouter une maison</a></p>
{% endblock %}